# App Configuration
APP_PORT=8080

# Backend Configuration
PORT=3000
MYSQL_HOST=host.docker.internal
MYSQL_PORT=3306
MYSQL_USER=cacamarica
MYSQL_PASSWORD=caca-websekolah-2026
MYSQL_DATABASE=caca-websekolah-2026

# Frontend Configuration (if needed at build time)
VITE_API_URL=/api
